.header {position: fixed;
    height:160px;
    width:1300px;
  background-color: red;
  opacity: 0.7;
margin:0 auto;
}
 .menu {display:inline-block;
    background-color: #dff0d8;
}
.section1{background:url(fon.jpg);
     width:1300px;
     height:2000px;
     }
h1{color:#8b7e66;
  font-size: 35px;
  font-style: normal;
  font:center ;
}


.footer {position: fixed;
    clear:both;
}
