.header {position:fixed;
    height:150px;
    width:1320px;
  background:url(header.jpg);
  opacity: 0.8;
margin:0 auto;
}
.section1{background:url(homefon.jpg);
     width:1320px;
     height:800px;
     margin:0 auto;
     }

.nav {width: 20%;
      float: left;
    background-color: #fffff0;
}
.section2{background-color:#cdc9c9;
     opacity:0.9;
margin: 0 auto;
    width: 1320px;
    height: 800px;
   
}
.section3{background:url(serv.jpg);
    margin: 0 auto;
    width:1320px;
    height:800px;
}
.section4{background:url(online.jpg);
     width:1320px;
     height:800px;
}
#fontt{color: white;
    font-size:20px;
    
}
.section5{background-color:#8b8682;
    width:1320px;
    height:800px;
    font:solid white;
}
.section6{width:1320px;
    height:800px;
}

h1{color:#fffafa;
  font-size: 30px;
  font-style:normal;
  font:center ;
}


.footer {clear: both;}
