#foto {display:inline-block;
    width: 60%;
   
}


.gallery img {
  width: 50%;
    border: 2px solid #55c5e9; /* Рамка вокруг фотографии */
    padding:5px; /* Расстояние от картинки до рамки */
    background: #666; /* Цвет фона */
     margin-right: 5px; /* Отступ справа */
    margin-bottom: 10px;
}
.gallery img:hover{
    width: 70%;
    border:0px;
    margin: 0 auto;
    padding: 0 auto;
}

/*.arrowBox {*/
/*    width: 8%;*/
/*    float: left;*/
/*}*/

/*.arrowBox img {*/
/*    width: 100%;*/
/*    margin-top: 270%;*/
/*}*/

/*.arrowBox img:hover {*/
/*    width: 90%;*/
/*    cursor: pointer;*/
/*}*/

/*.arrowBox img:active {*/
/*    width: 80%;*/
/*}*/