body{
 background:white;
}
   /*Header*/
nav {float:left;
    width:150px;
}
nav a:link{
    background:#fff0f5;
font-size:14px;
  font-family:serif;
   border-radius:2px;
  list-style-type: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 5, 0.2);
   transition-duration:200ms;
 color:white;
   text-decoration:none;
   padding: 8px;
    vertical-align: middle;
   
}
nav a:hover{
    background-color:#ff8c00;
    color:#f5f5f5;
     transform: rotate(40deg);
    }
#slog{text-align:center;
 
}
#wrap{min-width:400px;
      max-width:700px;
    margin:50px auto 0 auto;
}
/*Main page*/

.main{background:url(conttt.jpg) ;
    width:100%;
    heigh:1500px;
    top:0;
}
.content{height:400px;
    margin:0 160px 0 160px;
}


nav{
  margin: 0px auto;
  max-width: 1200px;
  padding-right: 310px;
}
nav{ 
  float: right;
  margin-right: -10px;
}
nav{
  width: 300px;
  position: fixed; /* перемещается вместе с прокруткой страницы */
  top: 9em; /* = шапке сайта */
  z-index: 101;
}


